<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <processors>
      <uiUpload>
        <processor patch:instead="*[@type='Sitecore.Pipelines.Upload.Save, Sitecore.Kernel']" mode="on" type="Sitecore.S3.MediaLibrary.Processors.SaveImagesToS3, Sitecore.S3.MediaLibrary" />
      </uiUpload>
    </processors>

    <pipelines>
      <getMediaStream>
        <processor patch:before="*" type="Sitecore.S3.MediaLibrary.RewriteUrl, Sitecore.S3.MediaLibrary" />
      </getMediaStream>
    </pipelines>
  </sitecore>
</configuration>